<!--suppress HtmlUnknownAttribute, HtmlUnknownTag -->
<polymer-element name="main-layout" noscript>
  <template>
    <core-scaffold>
      <core-header-panel navigation flex mode="waterfall">
        <core-toolbar>Trackary</core-toolbar>
        <core-menu>
          <core-item icon="store" label="Store"></core-item>
          <core-item icon="custom-icons:loyalty" label="Rewards"></core-item>
          <core-item icon="settings" label="Settings"></core-item>
        </core-menu>
      </core-header-panel>
      <div tool>
        <content select=".title"></content>
      </div>
      <content></content>
    </core-scaffold>
  </template>
</polymer-element>
