<!--suppress HtmlUnknownAttribute, HtmlUnknownTag -->
<polymer-element name="header-panel">
  <template>
    <link rel="stylesheet" href="header-panel.scss">

    <core-header-panel>
      <core-toolbar>
        <!--<paper-icon-button id="menubutton" icon="menu"></paper-icon-button>-->
        <paper-icon-button icon="menu" on-tap="{{menuAction}}"></paper-icon-button>
        <span flex>Title</span>
        <paper-icon-button icon="more-vert" on-tap="{{moreAction}}"></paper-icon-button>
      </core-toolbar>

      <div layout vertical>
        <content></content>
      </div>

    </core-header-panel>

  </template>
  <script>
    Polymer({});
  </script>
</polymer-element>
