<!--suppress HtmlUnknownAttribute, HtmlUnknownTag, HtmlUnknownTarget -->
<polymer-element name="ty-main-layout">
  <template>
    <link href="ty-main-layout.css.scss" rel="stylesheet">
    <ty-router
        id="router"
        on-route-change="{{handleRouteChange}}"></ty-router>
    <core-scaffold>
      <core-header-panel navigation flex mode="waterfall">
        <core-toolbar class="app-title">Trackary</core-toolbar>
        <core-menu id="menu">
          <template repeat="{{route in topLevelRoutes}}">
            <core-item icon="{{route.icon}}" label="{{route.label}}">
              <a href="{{route.hashPath}}"></a>
            </core-item>
          </template>
        </core-menu>
      </core-header-panel>
      <div tool>
        <content select=".title"></content>
      </div>
      <content></content>
    </core-scaffold>
  </template>
  <script src="ty-main-layout.js"></script>
</polymer-element>
