<!--suppress HtmlUnknownAttribute, HtmlUnknownTag, HtmlUnknownTarget -->
<polymer-element name="ty-main-layout">
  <template>
    <link href="ty-main-layout.css.scss" rel="stylesheet">
    <core-scaffold>
      <core-header-panel navigation flex mode="waterfall">
        <core-toolbar class="app-title">Trackary</core-toolbar>
        <core-menu>
          <template repeat="{{item in menuItems}}">
            <core-item icon="{{item.icon}}" label="{{item.label}}">
              <a href="{{item.link}}"></a>
            </core-item>
          </template>
        </core-menu>
      </core-header-panel>
      <div tool>
        <content select=".title"></content>
      </div>
      <content></content>
    </core-scaffold>
  </template>
  <script src="ty-main-layout.js"></script>
</polymer-element>
