<!--suppress HtmlUnknownAttribute, HtmlUnknownTag, HtmlUnknownTarget -->
<polymer-element name="ty-main-layout">
  <template>
    <link href="ty-main-layout.css.scss" rel="stylesheet">
    <core-drawer-panel id="drawerPanel" narrow="{{narrow}}">

      <div drawer layout vertical>
        <core-header-panel flex mode="waterfall">
          <core-toolbar app-title>Trackary</core-toolbar>
          <core-menu
              on-core-activate="{{closeDrawer}}"
              notap="true"
              valueattr="current-controller"
              selected="true">
            <content select="[nav-item]"></content>
          </core-menu>
        </core-header-panel>
      </div>

      <core-header-panel main mode="seamed">
        <core-toolbar action-bar>
          <paper-icon-button id="menuButton" icon="menu" on-tap="{{togglePanel}}"></paper-icon-button>
          <div>
            <content select="[tool]"></content>
          </div>
        </core-toolbar>

        <content></content>

      </core-header-panel>

    </core-drawer-panel>

  </template>
  <script src="ty-main-layout.js"></script>

</polymer-element>
