@import 'mixins';
@import 'bourbon';

.container {
  margin: 5em auto;
  max-width: 20em;
}

.button {
  background: $primary-color-dark;
  color: white;
}

.button:hover {
  background: $primary-color-base;
}

//noinspection CssInvalidPseudoSelector
.button::shadow #ripple {
  color: $primary-color-light;
}

paper-input {
  width: auto;
}

paper-input::shadow .focusedColor {
  color: $primary-color-base;
  background-color: $primary-color-base;
}
