/* See <http://www.google.com/design/spec/style/color.html> for more colours */
$primary-color-base  : #607d8b;
$primary-color-light : #cfd8dc;
$primary-color-dark  : #455a64;
$accent-color        : #f69988;
