<!--suppress HtmlUnknownAttribute, HtmlUnknownTag -->
<core-scaffold>
  <core-header-panel navigation flex mode="seamed">
    <core-toolbar>Trackary</core-toolbar>
    <core-menu>
      <core-item icon="settings" label="item1"></core-item>
      <core-item icon="settings" label="item2"></core-item>
    </core-menu>
  </core-header-panel>
  <div tool>Login</div>
  <paper-button 
    label="Sign in"
    id="my-button"
    onclick="window.location.href = '<%= new_user_session_path %>';"
    raisedButton></paper-button>
  <paper-button 
    label="Register"
    onclick="window.location.href = '<%= new_user_registration_path %>';"
    raisedButton></paper-button>
</core-scaffold>
