<!--suppress HtmlUnknownAttribute, HtmlUnknownTag -->
<core-scaffold>
  <core-header-panel navigation flex mode="seamed">
    <core-toolbar>Trackary</core-toolbar>
    <core-menu>
      <core-item icon="settings" label="item1"></core-item>
      <core-item icon="settings" label="item2"></core-item>
    </core-menu>
  </core-header-panel>
  <div tool>Login</div>
  <div>Content goes here...</div>
</core-scaffold>
